<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bob chat</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <h1>Bob chat</h1>
    <div class="chats" id="chats">
      <!-- Existing chat messages will be rendered here -->
    </div>
    <div class="btcontainer">
      <form action="/bob" method="post">
        <input type="text" name="content" />
        <button>send</button>
      </form>
    </div>
    <!-- <script src="/app.js"></script> -->
    <script>
      async function fetchChats() {
        try {
          const response = await fetch("/reload");
          const chats = await response.json();
          const chatsDiv = document.getElementById("chats");
          chatsDiv.innerHTML = ""; // Clear the existing content

          for (let key in chats) {
            const ul = document.createElement("ul");
            chats[key].forEach((msg) => {
              const p = document.createElement("p");
              p.className = msg.sender === "Bob" ? "sender" : "receiver";
              p.innerHTML = `<strong>Content:</strong> ${msg.content} <br />`;
              ul.appendChild(p);
            });
            chatsDiv.appendChild(ul);
          }
        } catch (error) {
          console.error("Error fetching chats:", error);
        }
      }

      // Fetch chats every 2 seconds
      setInterval(fetchChats, 2000);

      // Initial fetch
      fetchChats();
    </script>
  </body>
</html>
